body {
	background-color:burlywood;
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:rgb(129, 84, 26);
	text-align: center;
}

nav {
	float:right;
}

nav ul {
	list-style-type: none;
}

.rolling-menu {
	background-color: rgb(129, 84, 26);
	height: 50px;
	width: 200px;
}

.rolling-menu > a {
	font-size: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rolling-menu > a::before {
	content: " =";
	font-size: 40px;
	margin-left: 7px;
}

.menu {
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overflow: hidden;
	max-height: 0;
}

.menu > li > a {
	height: 50px;
	padding-left: 20px;
	width: 100%;
	align-items: center;
	display: flex;
}

.menu > li:hover {
	color: burlywood;
  }

@keyframes apparitionMenu {
	0% {
	  border-top: 3px solid rgb(141, 96, 36);
	}
	100% {
	  max-height: 50em;
	  border-top: 3px solid burlywood;
	  height: 150px;
	  background-color: rgb(129, 84, 26);
	}
}

.rolling-menu:hover > .menu {
	animation: apparitionMenu 3s forwards;
  }