.first-image {
	background-image: url("https://cdn.pixabay.com/photo/2020/05/01/09/26/black-5116044_960_720.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}


.separator {
	background-color: black;
	color:grey;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 44px;
	height: 50px;
}

.second-image {
	background-image: url("https://cdn.pixabay.com/photo/2016/01/02/16/57/dog-1118471_960_720.jpg") ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
