.first-image {
	background-image: url("https://cdn.pixabay.com/photo/2020/05/01/09/26/black-5116044_960_720.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.text h3 {
	color: white;
	vertical-align:middle;
	line-height:100vh;
	text-align: center;  
	font-size: 50px;
    margin: 0;
    padding: 0;
}

.separator {
	background-color: black;
	cursor:pointer;
	position: relative;
	display: block;
}

.animated-text {
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 100vw;
	height: 100px; 
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	vertical-align:middle;
}

.animated-text:hover{
	opacity: 1;      
}

.animated-text h1{
	color: grey;
	display: inline-table;
	vertical-align:middle;
	line-height:100%;            
}

.second-image {
	background-image: url("https://cdn.pixabay.com/photo/2016/01/02/16/57/dog-1118471_960_720.jpg") ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.copyright {
	font-family: monospace;
	font-size: 10px;
	float: right;
}