body {
    background: linear-gradient(rgb(253, 252, 238), rgb(120, 160, 207));
	width: 100vw;
	height: 100vh;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(202, 127, 14, 0.2);
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	color:rgb(240, 108, 103);
	background-color: rgb(245, 211, 134);
}

.login {
    font-size: 40px;
}

.description {
	font-size: 30px;
}

button {
	border:0;
	background-color: rgb(245, 220, 164);
	color:rgb(240, 108, 103);
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	display: inline-block;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	width: 100%;
}