table {
	width:100vw; 
	height:100vh; 
	border: 1px solid black;
	border-collapse: collapse;
}

table td#box1 {
	background-color:pink;
	border: 1px solid black;
}

table td#box2 {
	background-color:lightblue;
	border: 1px solid black;
}